 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 725px;
}

.u-section-1 .u-group-1 {
  width: 570px;
  min-height: 458px;
  height: auto;
  margin: 97px auto 60px 0;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 60px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 4.5rem;
  margin: 82px 0 0;
}

.u-section-1 .u-text-2 {
  font-style: italic;
  font-size: 1.25rem;
  margin: 30px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: solid;
  margin: 30px auto 0 0;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  margin: -47px 78px 45px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 598px;
  }

  .u-section-1 .u-group-1 {
    width: 539px;
    min-height: 423px;
    margin-top: 88px;
    margin-bottom: 40px;
    height: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 49px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    margin-top: 50px;
  }

  .u-section-1 .u-text-2 {
    font-style: normal;
    margin-bottom: 50px;
    font-size: 1rem;
  }

  .u-section-1 .u-btn-1 {
    height: 45px;
    margin-right: 227px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 64px;
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 800px;
  }

  .u-section-1 .u-group-1 {
    width: 453px;
    min-height: 482px;
    margin-top: 150px;
    margin-bottom: 80px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 38px;
  }

  .u-section-1 .u-text-2 {
    margin-bottom: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 50px;
    margin-right: 181px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: -15px;
    margin-bottom: 50px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 569px;
  }

  .u-section-1 .u-group-1 {
    min-height: 423px;
    width: 432px;
    margin-top: 28px;
    margin-bottom: 55px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 28px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-top: 40px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.125rem;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 170px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: -24px;
    margin-bottom: 40px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 565px;
  }

  .u-section-1 .u-group-1 {
    min-height: 500px;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 50px;
    margin-right: 26px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
    margin-right: 26px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: auto;
    padding: 10px 46px 10px 44px;
  }

  .u-section-1 .u-btn-2 {
    margin: 20px auto 0 0;
    padding: 10px 64px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 745px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 35px auto 40px 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 700px;
}

.u-section-2 .u-shape-1 {
  width: 551px;
  height: 561px;
  margin: -77px auto 0 0;
}

.u-section-2 .u-image-1 {
  height: 630px;
  width: 562px;
  object-position: 70.03% 0%;
  background-position: 70.03% 0%;
  margin: -484px auto 0 71px;
}

.u-section-2 .u-group-1 {
  min-height: 319px;
  width: 407px;
  margin: -279px auto 0 456px;
}

.u-section-2 .u-container-layout-2 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-2 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 400;
  margin: 30px 0 0 auto;
}

.u-section-2 .u-text-2 {
  margin: 20px 0 30px auto;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 351px;
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-2 .u-text-3 {
  font-size: 1.875rem;
  font-weight: 400;
  margin: 30px 0 0;
}

.u-section-2 .u-text-4 {
  margin: 20px 0 30px;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 349px;
  background-image: none;
}

.u-section-2 .u-container-layout-4 {
  padding-left: 16px;
  padding-right: 16px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 695px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 25px;
    margin-bottom: 36px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 664px;
  }

  .u-section-2 .u-shape-1 {
    width: 454px;
  }

  .u-section-2 .u-image-1 {
    height: 548px;
    width: 487px;
    object-position: 50% 50%;
    background-position: 50% 50%;
    filter: none;
    margin-left: 47px;
  }

  .u-section-2 .u-group-1 {
    min-height: 267px;
    width: 399px;
    margin-top: -181px;
    margin-left: 375px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 25px;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-bottom: 25px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 324px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-2 .u-text-3 {
    position: relative;
    margin-top: 25px;
  }

  .u-section-2 .u-text-4 {
    position: relative;
    margin-bottom: 0;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 340px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 642px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 0;
    margin-bottom: 25px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 647px;
  }

  .u-section-2 .u-shape-1 {
    width: 424px;
    height: 484px;
    margin-top: -54px;
  }

  .u-section-2 .u-image-1 {
    height: 484px;
    width: 410px;
    margin-top: -430px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-2 .u-group-1 {
    min-height: 216px;
    width: 432px;
    margin-top: -83px;
    margin-left: 288px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 19px;
    padding-right: 19px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 20px;
  }

  .u-section-2 .u-text-2 {
    margin-bottom: 20px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 314px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 30px;
  }

  .u-section-2 .u-text-4 {
    margin-bottom: 30px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 333px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 13px;
    padding-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 802px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 25px;
    margin-bottom: 65px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 700px;
  }

  .u-section-2 .u-shape-1 {
    width: 414px;
    height: 542px;
    margin-top: -58px;
  }

  .u-section-2 .u-image-1 {
    height: 519px;
    width: 420px;
    margin-top: -484px;
    margin-right: 51px;
  }

  .u-section-2 .u-group-1 {
    min-height: 244px;
    width: 409px;
    margin-top: -93px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 26px;
    padding-right: 25px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 25px;
  }

  .u-section-2 .u-text-2 {
    margin-bottom: 25px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 351px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 31px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 317px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 9px;
    padding-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-shape-1 {
    width: 314px;
    height: 437px;
    margin-top: -50px;
  }

  .u-section-2 .u-image-1 {
    height: 484px;
    width: 301px;
    margin-top: -387px;
    margin-right: 0;
  }

  .u-section-2 .u-group-1 {
    min-height: 218px;
    margin-top: -32px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 23px;
    padding-right: 24px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.25rem;
    font-weight: 700;
    margin-top: 20px;
  }

  .u-section-2 .u-text-2 {
    margin-bottom: 20px;
    margin-left: 1px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-right: 30px;
  }

  .u-section-2 .u-text-3 {
    font-size: 0.9375rem;
    font-weight: 700;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 6px;
    padding-right: 6px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 469px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 90px auto 90px 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 319px;
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding-left: 27px;
  padding-right: 27px;
}

.u-section-3 .u-text-1 {
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 1px;
  margin: 16px 0 0;
}

.u-section-3 .u-line-1 {
  width: 73px;
  height: 3px;
  transform-origin: left center 0;
  margin: 30px auto 0 0;
}

.u-section-3 .u-text-2 {
  font-style: italic;
  margin: 35px 0 0;
}

.u-section-3 .u-image-1 {
  background-image: url("images/IMG_4041.jpg");
  min-height: 319px;
  background-position: 50% 50%;
}

.u-section-3 .u-image-2 {
  background-image: url("images/IMG_4584.jpg");
  min-height: 319px;
  background-position: 50% 50%;
}

.u-section-3 .u-image-3 {
  background-image: url("images/IMG_4143.jpg");
  min-height: 319px;
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: -142px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 22px;
    padding-right: 22px;
  }

  .u-section-3 .u-text-1 {
    position: relative;
  }

  .u-section-3 .u-line-1 {
    width: 60px;
  }

  .u-section-3 .u-text-2 {
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 850px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: 90px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 350px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 17px;
    padding-right: 17px;
  }

  .u-section-3 .u-line-1 {
    width: 46px;
  }

  .u-section-3 .u-image-1 {
    min-height: 350px;
  }

  .u-section-3 .u-image-2 {
    min-height: 350px;
  }

  .u-section-3 .u-image-3 {
    min-height: 350px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2256px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 536px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 50px;
  }

  .u-section-3 .u-line-1 {
    width: 67px;
    height: 6px;
  }

  .u-section-3 .u-text-2 {
    margin-bottom: 50px;
  }

  .u-section-3 .u-image-1 {
    min-height: 562px;
  }

  .u-section-3 .u-image-2 {
    min-height: 549px;
  }

  .u-section-3 .u-image-3 {
    min-height: 549px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1613px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: -80px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 388px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 8px;
    padding-right: 8px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 16px;
  }

  .u-section-3 .u-line-1 {
    width: 36px;
    height: 3px;
  }

  .u-section-3 .u-text-2 {
    margin-bottom: 0;
    font-style: normal;
  }

  .u-section-3 .u-image-1 {
    min-height: 388px;
    background-position: 50% 88.93%;
  }

  .u-section-3 .u-image-2 {
    min-height: 388px;
    background-position: 100% 50%;
  }

  .u-section-3 .u-image-3 {
    min-height: 388px;
    background-position: 35.54% 50%;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 2375px;
}

.u-section-4 .u-group-1 {
  min-height: 150px;
  width: 800px;
  margin: 75px auto 0;
}

.u-section-4 .u-container-layout-1 {
  padding-left: 60px;
  padding-right: 60px;
}

.u-section-4 .u-text-1 {
  font-size: 3rem;
  font-weight: 400;
  margin: 15px 0 0;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 60px auto 104px 0;
}

.u-section-4 .u-image-1 {
  min-height: 399px;
  background-image: url("images/IMG_4014.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-image-2 {
  min-height: 399px;
  background-image: url("images/IMG_4441.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-image-3 {
  min-height: 399px;
  background-image: url("images/IMG_4214.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-image-4 {
  min-height: 399px;
  background-image: url("images/IMG_4223.jpg");
  background-position: 68.88% 50%;
}

.u-section-4 .u-image-5 {
  min-height: 399px;
  background-image: url("images/IMG_4104.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-image-6 {
  min-height: 399px;
  background-image: url("images/IMG_4426.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-btn-1 {
  border-style: none;
  margin: 30px auto 60px;
  padding: 0;
}

.u-section-4 .u-icon-1 {
  font-size: 1.2em;
}

.u-section-4 .u-btn-2 {
  border-style: none;
  margin: -3862px auto 60px 10px;
  padding: 0;
}

.u-section-4 .u-icon-2 {
  font-size: 1.2em;
}

@media (max-width: 1199px) {
  .u-section-4 .u-group-1 {
    width: 729px;
    margin-top: 78px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 49px;
    padding-right: 49px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 25px;
    margin-bottom: 105px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-1 {
    min-height: 327px;
  }

  .u-section-4 .u-image-2 {
    min-height: 327px;
  }

  .u-section-4 .u-image-3 {
    min-height: 327px;
  }

  .u-section-4 .u-image-4 {
    min-height: 327px;
    background-position: 50% 50%;
  }

  .u-section-4 .u-image-5 {
    min-height: 327px;
  }

  .u-section-4 .u-image-6 {
    min-height: 327px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-group-1 {
    width: 505px;
    margin-top: 90px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 38px;
    padding-right: 38px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 13px;
    margin-bottom: 165px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-group-1 {
    min-height: 154px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 28px;
    padding-right: 28px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 28px;
    margin-bottom: 90px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-1 {
    min-height: 486px;
  }

  .u-section-4 .u-image-2 {
    min-height: 486px;
  }

  .u-section-4 .u-image-3 {
    min-height: 485px;
  }

  .u-section-4 .u-image-4 {
    min-height: 486px;
  }

  .u-section-4 .u-image-5 {
    min-height: 486px;
  }

  .u-section-4 .u-image-6 {
    min-height: 485px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-group-1 {
    min-height: 175px;
    width: 340px;
    margin-top: -8px;
    margin-right: auto;
    margin-left: -7px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 18px;
    padding-right: 18px;
  }

  .u-section-4 .u-text-1 {
    font-size: 0.9375rem;
    font-weight: 700;
    width: auto;
    margin-top: 65px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 111px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-1 {
    min-height: 327px;
  }

  .u-section-4 .u-image-2 {
    min-height: 327px;
  }

  .u-section-4 .u-image-3 {
    min-height: 327px;
  }

  .u-section-4 .u-image-4 {
    min-height: 327px;
  }

  .u-section-4 .u-image-5 {
    min-height: 327px;
  }

  .u-section-4 .u-image-6 {
    min-height: 327px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 35px;
    margin-bottom: 0;
    margin-left: 0;
  }
}