 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 686px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 566px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 20px;
}

.u-section-1 .u-text-1 {
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
  font-size: 2.25rem;
  line-height: 1.1;
}

.u-section-1 .u-image-1 {
  min-height: 566px;
  background-image: url("images/pexelsphoto3465380.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 566px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-text-2 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1rem;
}

.u-section-1 .u-text-3 {
  margin-left: 0;
  text-transform: uppercase;
  line-height: 1;
  margin-bottom: 0;
}

.u-section-1 .u-line-1 {
  width: 230px;
  margin: 30px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 587px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 467px;
  }

  .u-section-1 .u-image-1 {
    min-height: 467px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 467px;
  }

  .u-section-1 .u-line-1 {
    width: 178px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 867px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-image-1 {
    min-height: 613px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1359px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 52px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    min-height: 811px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 980px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 15px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    line-height: 0.8;
  }

  .u-section-1 .u-image-1 {
    min-height: 511px;
  }

  .u-section-1 .u-text-2 {
    font-size: 0.8125rem;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 548px;
}

.u-section-2 .u-group-1 {
  width: 304px;
  min-height: 446px;
  height: auto;
  margin: 42px auto 60px 43px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  font-size: 1.125rem;
  line-height: 2;
  font-weight: 700;
  margin: 25px auto 0 15px;
}

.u-section-2 .u-text-2 {
  font-size: 0.8125rem;
  line-height: 2;
  margin: 7px auto 0 15px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  text-transform: none;
  font-size: 1rem;
  letter-spacing: normal;
  font-weight: 400;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-group-1 {
    min-height: 372px;
    margin-top: 37px;
    margin-left: auto;
    margin-bottom: 0;
  }

  .u-section-2 .u-text-1 {
    font-size: 0.9375rem;
    width: auto;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 9px;
    margin-left: 10px;
  }

  .u-section-2 .u-btn-1 {
    border-style: none;
    text-transform: uppercase;
    font-size: 0.875rem;
    letter-spacing: 1px;
    font-weight: 700;
    margin: 60px auto 36px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 548px;
}

.u-section-3 .u-group-1 {
  width: 304px;
  min-height: 372px;
  height: auto;
  margin: 37px auto 60px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  font-size: 0.9375rem;
  line-height: 2;
  font-weight: 700;
  width: auto;
  margin: 15px 10px 0;
}

.u-section-3 .u-text-2 {
  font-size: 0.8125rem;
  line-height: 2;
  width: auto;
  margin: 9px auto 0 10px;
}

.u-section-3 .u-group-2 {
  width: 304px;
  min-height: 372px;
  height: auto;
  margin: 37px auto 60px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-3 {
  font-size: 0.9375rem;
  line-height: 2;
  font-weight: 700;
  width: auto;
  margin: 15px 10px 0;
}

.u-section-3 .u-text-4 {
  font-size: 0.8125rem;
  line-height: 2;
  width: auto;
  margin: 9px auto 0 10px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-group-1 {
    height: auto;
  }

  .u-section-3 .u-group-2 {
    height: auto;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-group-1 {
    min-height: 197px;
    margin-bottom: 0;
  }

  .u-section-3 .u-text-1 {
    margin-top: 45px;
  }

  .u-section-3 .u-group-2 {
    min-height: 197px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 45px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 548px;
}

.u-section-4 .u-group-1 {
  width: 304px;
  min-height: 197px;
  height: auto;
  margin: 37px auto 60px;
}

.u-section-4 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-4 .u-text-1 {
  font-size: 0.9375rem;
  line-height: 2;
  font-weight: 700;
  width: auto;
  margin: 45px 10px 0;
}

.u-section-4 .u-text-2 {
  font-size: 0.8125rem;
  line-height: 2;
  width: auto;
  margin: 9px auto 0 10px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-group-1 {
    height: auto;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 360px;
  }

  .u-section-4 .u-group-1 {
    min-height: 276px;
    margin-top: 24px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 10px;
    margin-right: auto;
  }

  .u-section-4 .u-text-2 {
    margin-top: 10px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 980px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 40px;
  margin-bottom: 15px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 100px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 10px;
}

.u-section-5 .u-image-1 {
  min-height: 511px;
  background-image: url("images/IMG_4103.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 10px;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 100px;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px 10px;
}

.u-section-5 .u-line-1 {
  width: 178px;
  margin: 30px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 881px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 82px;
  }

  .u-section-5 .u-image-1 {
    min-height: 421px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 82px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 867px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-bottom: 40px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-image-1 {
    min-height: 553px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1359px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-bottom: 52px;
  }

  .u-section-5 .u-image-1 {
    min-height: 732px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 980px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 0;
    margin-bottom: 15px;
  }

  .u-section-5 .u-image-1 {
    min-height: 461px;
  }

  .u-section-5 .u-line-1 {
    margin-top: 0;
  }
}